@font-face {
  font-family: 'mobili-icons';
  src:  url('mobili-icons.eot?qalxdu');
  src:  url('mobili-icons.eot?qalxdu#iefix') format('embedded-opentype'),
    url('mobili-icons.ttf?qalxdu') format('truetype'),
    url('mobili-icons.woff?qalxdu') format('woff'),
    url('mobili-icons.svg?qalxdu#mobili-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="dashicons-mi-"],[class^="dashicons-mi-"]::before, [class*=" dashicons-mi-"], [class*=" dashicons-mi-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mobili-icons', sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-mi-mobili-solid:before {
  content: "\e902";
}
.dashicons-mi-mobili:before {
  content: "\e901";
}
